.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px
}

.ant-row {
    flex-flow: initial !important;
}

.result {
    display: flex;
    flex-direction: column;
}