@import '~antd/dist/antd.css';

.App {
  min-height: 100vh;
  /* background-color: black; */
}

.App-header {
  position: absolute;
  top: 30px;
  left: 30px;
}

.App-content {
  width: 100%;
  position: absolute;
  top: calc(30px + 20vh);
}
